<div class="header bg-gradient-danger pb-5 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="mt--7 pb-8">

  <div class="row">
    <div class="col-9 col-sm-9 col-md-9 padding-0">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">{{project.title}}</h3>
        </div>
        <div class="card-body">
          <div cdkDropListGroup class="card-deck">
            <div style="background-color: #EFEFEF;" class="card border-0">
              <div class="card-header " style="background-color: #2A92BF;">
                <div class="row">
                <h2 class="align-items-center text-xl text-white" style=" display: inline-flex;vertical-align: middle;" ><i class="material-icons">report_problem</i>TO DO</h2>
                <button class="btn btn-sm btn-outline-white align-items-center ml-3 " style=" display: inline-flex;vertical-align: middle;" (click)="open()"><i class="material-icons">control_point</i>Add Task</button>
                </div>
              </div>

                <div
                  cdkDropList
                  #todoList="cdkDropList"
                  [cdkDropListData]="todo"
                  class="card-body"
                  (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="dragEnd('TO_DO')" >
                  <div  class="card card-stats"  (cdkDragStarted)="dragStart(item.id,'todo')" (cdkDragEnded)="dragEnded()"   *ngFor="let item of todo" cdkDrag>
                    <div  class="card-header  bg-transparent">
                      <div style=" display: inline-flex;vertical-align: middle;" >
                      <h5 (click)="openDetails(item.id)" >{{item.title}}</h5>
                      <div ngbDropdown placement="right-top">
                        <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" (click)="openDetails(item.id)" >Open</a>
                          <a class="dropdown-item" (click)="deletetodo(item)">Delete</a>
                        </div>
                      </div>
                      </div>
                    </div>
                </div>

              </div>
            </div>
            <div style="background-color: #EFEFEF;" class="card border-0">
              <div class="card-header " style="background-color: #F4CE46;">
                <h2 class="align-items-center text-xl text-white" style=" display: inline-flex;vertical-align: middle;" ><i class="material-icons">build</i>DOING</h2>
              </div>

              <div class="card-body">

                <div
                  cdkDropList
                  #doingList="cdkDropList"
                  [cdkDropListData]="doing"
                  (cdkDropListEntered)="dragEnd('DOING')"
                  (cdkDropListDropped)="drop($event)">
                  <div  class="card card-stats"  (cdkDragStarted)="dragStart(item.id,'doing')" (cdkDragEnded)="dragEnded()"   *ngFor="let item of doing" cdkDrag>
                    <div class="card-header bg-transparent">
                      <div style=" display: inline-flex;vertical-align: middle;" >
                        <h5 (click)="openDetails(item.id)" >{{item.title}}</h5>
                        <div ngbDropdown placement="right-top">
                          <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" (click)="openDetails(item.id)" >Open</a>
                            <a class="dropdown-item" (click)="deletedoing(item)">Delete</a>
                          </div>
                        </div>
                      </div>                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="background-color: #EFEFEF;" class="card border-0">
              <div class="card-header"  style="background-color: #00B961;">
                <h2 class="align-items-center text-xl text-white" style=" display: inline-flex;vertical-align: middle;" ><i class="material-icons">check_circle</i>DONE</h2>
              </div>
              <div class="card-body">

                <div
                  cdkDropList
                  #doneList="cdkDropList"
                  [cdkDropListData]="done"
                  (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="dragEnd('DONE')" >
                  <div  class="card card-stats"  (cdkDragStarted)="dragStart(item.id,'done')" (cdkDragEnded)="dragEnded()"   *ngFor="let item of done" cdkDrag>
                    <div class="card-header bg-transparent">
                      <div style=" display: inline-flex;vertical-align: middle;" >
                        <h5 (click)="openDetails(item.id)" >{{item.title}}</h5>
                        <div ngbDropdown placement="right-top">
                          <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" (click)="openDetails(item.id)" >Open</a>
                            <a class="dropdown-item" (click)="deletedone(item)">Delete</a>
                          </div>
                        </div>
                      </div>                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div style="background-color: white;"  class="col-3 col-sm-3 col-md-3 nopadding">

   <h3>Activity</h3>
<hr>


    </div>
  </div>

</div>
