.example-container {
    width: 100%;
    height: 1000px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  .header {
    background-color : #172b4d !important;
  }
  .y{
    color: aliceblue
  }

  