<div class="card col-12 p-0 m-0">
  <div class="card-header cyan darken-2 text-center font-weight-bold">Send Notification</div>
  <div class="card-body ">
    <form #form="ngForm" class="form-inline">
      <!-- <div class="form-group col-3">
        <input type="text" name="numAdherent" [ngModel]="data?.numAdherent" placeholder="num Adherent" class="form-control" #numadherent="ngModel" required>
      </div> -->
      <div class="form-group col-3" >
        <label  class="font-weight-bold">To:</label>
        <div class="form-group">

          <input type="text" name="emailEncadreur"  [ngModel]="email" placeholder="data?.info?.encadreur.email" class="form-control" required>

        </div>
        <label  class="font-weight-bold">Subject:</label>
        <div class="form-group">

          <textarea type="text" name="subject" [ngModel]="subject"  class="form-control" required>
          </textarea>
        </div>
        <label  class="font-weight-bold">Content:</label>
        <div class="form-group">

          <textarea type="text" name="content"  [ngModel]="content" class="form-control" required>
          </textarea>
        </div>
      </div>

      <!-- <div class="form-group col-3 offset-1">
        <select name="cpt" [ngModel]="data?.data?.cpt" class="form-control m-0" required>
          <option [ng-value]="">selectionez Compte Financier</option>
        </select>
      </div> -->
    </form>
  </div>
  <div class="card-footer  pb-0 cyan darken-2">
    <div class="row justify-content-center">
      <button class="btn btn-primary col-3" (click)="SendEmail(email,subject,content)" >Send</button>
      <button class="btn btn-danger col-3" [mat-dialog-close]>Cancel</button>
    </div>
  </div>
</div>
