<br><br>
<div class="container-fluid mt--7">
  <!-- Table -->

  <!-- Dark table -->
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Candidature List</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Student Email</th>
              <th scope="col">Student name</th>
              <th scope="col">Offre</th>

              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let i of userO">
              <th scope="row">
                {{i[[0]]}}
              </th>
              <th scope="row">
                {{i[[1]]}}
              </th>

              <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i>
                    {{i[[2]]}}
                  </span>

              </td>
              <td class="text-right">
                <div ngbDropdown placement="bottom-right">
                  <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">

                    <a class="dropdown-item"
                       href="http://localhost:9080/Graduation-Project-web/pdfexport?id={{x}}&idE=7">export pdf </a>

                  </div>
                </div>
              </td>


            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
