<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<!-- Page content -->
<p-table #dt [columns]="cols" [value]="sheet" selectionMode="multiple" [(selection)]="selectedCars">
    <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix" style="text-align: left">
            <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="margin-right: 0.5em;"></button>
            <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"></button>
            <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button>
            <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - Selection Only" (click)="dt.exportCSV({selectionOnly:true})" style="float:right"></button>
        </div>
    </ng-template>
</p-table>

<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <select matNativeControl required [(ngModel)]="chosenMod" (ngModelChange)="modo()">
      <option value="all">All</option>
      <option value="not">Not Accepted</option>
    </select>
  </mat-form-field>

  <!-- ALL -->
  <div *ngIf="showall">
    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="nom">
        <mat-header-cell  *matHeaderCellDef> Student name </mat-header-cell>
        <mat-cell  *matCellDef="let element"> {{element.student.nom}} {{element.student.prenom}} </mat-cell>
      </ng-container>
  
          <ng-container matColumnDef="title">
          <mat-header-cell  *matHeaderCellDef> Title </mat-header-cell>
          <mat-cell  *matCellDef="let element"> {{element.title}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
            <mat-header-cell  *matHeaderCellDef> Title </mat-header-cell>
            <mat-cell  *matCellDef="let element"> {{element.date |date}} </mat-cell>
          </ng-container>
      
            <ng-container matColumnDef="staff">
                <mat-header-cell  *matHeaderCellDef> Staff </mat-header-cell>
                <mat-cell  *matCellDef="let element"> {{element.staffSheets[0].nom}} {{element.staffSheets[0].prenom}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="sheetstatus">
                  <mat-header-cell  *matHeaderCellDef> Status </mat-header-cell>
                  <mat-cell  *matCellDef="let element"> {{element.sheetstatus}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="cancel">
                  <mat-header-cell  *matHeaderCellDef> Cancel staff </mat-header-cell>
                  <mat-cell  *matCellDef="let element">
                    <button pButton type="button" label="Delete staff" class="ui-button-danger" (click)="CancelStaff(element.id_sheet)"></button>                  </mat-cell>
                </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
   
  </div>

  <!-- Filter -->
<div *ngIf="show">
  <mat-table [dataSource]="dataSourceFilter" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="nom">
      <mat-header-cell  *matHeaderCellDef> Student name </mat-header-cell>
      <mat-cell  *matCellDef="let element"> {{element.student.nom}} {{element.student.prenom}} </mat-cell>
    </ng-container>

        <ng-container matColumnDef="title">
        <mat-header-cell  *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell  *matCellDef="let element"> {{element.title}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="assign">
        <mat-header-cell  *matHeaderCellDef> Assign to a staff </mat-header-cell>
        <mat-cell  *matCellDef="let element">
          <p-button icon="pi pi-check" [disabled]="false" label="Disabled" (click)="Acceptsheet(element.id_sheet)"> </p-button>
        </mat-cell>
      </ng-container>

    

    <mat-header-row *matHeaderRowDef="displayedColumnsFilter"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsFilter;"></mat-row>
  </mat-table>
</div>
    
   




  
  