
<div *ngFor="let sh of sheet">
  <mat-accordion class="example-headers-align">
      <mat-expansion-panel>
        <mat-expansion-panel-header class="header">
          <mat-panel-title>
              {{sh.student.nom}} 
          </mat-panel-title>
          <mat-panel-description>
            {{sh.student.prenom}}
       </mat-panel-description>
          <mat-panel-description>
               {{sh.student.email}}
               <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
         
        </mat-expansion-panel-header>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Major request modification</mat-card-title>
            <mat-card-subtitle>Content</mat-card-subtitle>
          </mat-card-header>
          From :
          <mat-card-content>
            <p> {{sh.issue}} </p>
            <p> {{sh.features}}</p>
          </mat-card-content>
          To :
          <mat-card-content>
            <p> {{sh.featuresRequest}}</p>
            <p> {{sh.issueRequest}} </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="AcceptModification(sh.id_sheet)" color="primary" >Accept</button>
            <button mat-button color="warn" >Refuse</button>
          </mat-card-actions>
        </mat-card> 
      </mat-expansion-panel>

    </mat-accordion>
    
</div>