<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<div class="card">
  <mat-form-field class="example-full-width">
    <input matInput [matDatepicker]="picker"  placeholder="Choose the Start date" [(ngModel)]="Offre.datedebut"
           name="datedebut" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>List of companies</mat-label>
    <mat-select [(ngModel)]="Offre.entreprise" name="entreprise_id">
      <mat-option *ngFor="let i of Companies" [value]="i.id">
        {{i.nomEntreprise}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button type="button" class="btn btn-warning" (click)="onclick(Offre.entreprise,Offre.datedebut)">Search</button>
  <div class="card-body">
    <div class="chart">
      <!-- Chart wrapper -->
      <canvas id="chart-orders" class="chart-canvas"></canvas>
    </div>
  </div>
</div>
