.local {
 position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 120px;
  height: 90px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}

.remote {

  top: 0;
  left: 0;
  width: 450px;
  height: 300px;
}
