<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">

  <div class="row">
    <div class="col">
      <div class="card bg-default shadow">

        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">All Projects</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Student</th>
              <th scope="col">University Supervisor</th>
              <th scope="col">Supervisor</th>
              <th scope="col">Keywords</th>
              <th scope="col">Start date</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let project of projects" (click)="onselect(project.id)" >
              <th scope="row">
                <div class="media align-items-center">

                  <div class="media-body">
                    <span class="mb-0 text-sm">{{project.title}}</span>
                  </div>
                </div>
              </th>
              <td>
                {{project.student.nom}}

              </td>
              <td>
                {{project.staff.nom}}
              </td>
              <td>
                {{project.en.nom}}

              </td>
              <td>
                <div class="d-flex align-items-center">

                  {{project.keywords}}
                </div>
              </td>
              <td class="text-right">
                {{project.datedebut}}
              </td>
            </tr>



            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
