<div *ngFor="let sh of sheet">
  <mat-accordion class="example-headers-align">
      <mat-expansion-panel>
        <mat-expansion-panel-header class="header">
          <mat-panel-title>
              {{sh.student.nom}} 
          </mat-panel-title>
          <mat-panel-description>
            {{sh.student.prenom}}
       </mat-panel-description>
          <mat-panel-description>
               {{sh.student.email}}
               <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
         
        </mat-expansion-panel-header>
        <mat-panel-title>
          Title :  {{sh.title}}
         
        </mat-panel-title>
        <mat-panel-title>
           Issue :  {{sh.issue}}
          
         </mat-panel-title>
    
         <mat-panel-title>
            Features :  {{sh.features}}
         </mat-panel-title>
       <mat-panel-title>
        Key words :  {{sh.key_words}}
     </mat-panel-title>
     <mat-panel-title>
      Sheet status :  {{sh.sheetstatus}}
   </mat-panel-title>
   <mat-panel-title> 
   <div *ngFor="let c of toArrays(sh.categorys)">
    {{ c.name_Category}}
   </div>
</mat-panel-title>
        <mat-action-row>
         <div *ngIf="sh.sheetstatus == 'REFUSED' || sh.sheetstatus== 'DEFAULT'">
         <button mat-flat-button color="primary" (click)="AcceptSheet(sh.id_sheet)" (click)="toggleShow()">Accept sheet</button>
         <div *ngIf="isShown">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
         </div>
         </div>
         <div *ngIf="sh.sheetstatus == 'ACCEPTED' || sh.sheetstatus== 'DEFAULT'">
          <button mat-flat-button color="warn" (click)="RefuseSheet(sh.id_sheet)" (click)="toggleShowRefuse()">Refuse sheet</button>
         <div *ngIf="isShownR">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
         </div>
         </div>
        </mat-action-row>    
      </mat-expansion-panel>

    </mat-accordion>
    
</div>