<div class="header bg-gradient-danger py-7 py-lg-8">


  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-4"><small>Do you have have already an account?</small></div>
          <div class="text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
              <span class="ni ni-badge"></span>

              <span class="btn-inner--text" routerLinkActive="active" [routerLink]="['/loginE']">Login</span>
            </a>

          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Or sign up with credentials</small>
          </div>
          <form role="form" [formGroup]="userForm1" (ngSubmit)="addCompany(userForm1.value)">
            <div class="form-group">
              <div class="input-group input-group-append mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Company name" type="text"
                       formControlName="nomEntreprise" >
                <div *ngIf=" nom.touched && nom.errors?.required">
                  Le nom est obligatoire.
                </div>
                <div *ngIf="nom.errors?.minlength">
                  le nom doit contenir au moins 4 caractères.
                </div>
                </div>
              </div>

            <div class="form-group">
              <div class="input-group input-group-append mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Identifiant" type="text" formControlName="identifiant">
                <div *ngIf=" identifiant.touched && identifiant.errors?.required">
                  L'identifiant est obligatoire.
                </div>
                <div *ngIf="identifiant.errors?.minlength">
                  le nom doit contenir au moins 4 caractères.
                </div>

              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-append mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Email" formControlName="mail">
                <div *ngIf=" mail.touched && mail.errors?.required">
                  L'email est obligatoire.
                </div>
                <div *ngIf="mail.errors?.pattern">
                  Format incorrect.
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-append">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Password" type="password" formControlName="password">
                <div *ngIf=" password.touched && password.errors?.required">
                  L'identifiant est obligatoire.
                </div>
                <div *ngIf="password.errors?.minlength">
                  le nom doit contenir au moins 4 caractères.
                </div>
                <div *ngIf="password.errors?.maxlength">
                  le nom doit contenir au moins 10caractères.
                </div>
              </div>
            </div>
            <!-- <div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small></div>-->
            <div class="form-group">
              <div class="input-group input-group-append mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Address" type="text" formControlName="adresse">
                <div *ngIf=" adresse.touched && adresse.errors?.required">
                  L'adresse est obligatoire.
                </div>
                <div *ngIf="adresse.errors?.minlength">
                  L'adresse doit contenir au moins 4 caractères.
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-append mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Company Phone Number" type="text" formControlName="numtelentre">
                <div *ngIf=" numtelentre.touched && numtelentre.errors?.required">
                  Le num est obligatoire.
                </div>
                <div *ngIf="numtelentre.errors?.minlength">
                  Le num doit contenir au moins 8 caractères.
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-append mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Domain Description" type="text" formControlName="description">
                <div *ngIf=" description.touched && description.errors?.required">
                  La description est obligatoire.
                </div>
                <div *ngIf="description.errors?.minlength">
                  La description doit contenir au moins 4 caractères.
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-append mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Web site" type="text" formControlName="siteweb" >
                <div *ngIf=" siteweb.touched && siteweb.errors?.required">
                  siteweb est obligatoire.
                </div>
                <div *ngIf="siteweb.errors?.pattern">
                  Format incorrect.
                </div>

              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-append mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Linkedin Link" type="text" formControlName="lienlinkedin">
                <div *ngIf=" lienlinkedin.touched && lienlinkedin.errors?.required">
                  La description est obligatoire.
                </div>
                <div *ngIf="lienlinkedin.errors?.minlength">
                  La description doit contenir au moins 4 caractères.
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-append mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="General presentation" type="text" formControlName="presentation">
                <div *ngIf=" presentation.touched && presentation.errors?.required">
                  La presentation est obligatoire.
                </div>
                <div *ngIf="presentation.errors?.minlength">
                  La presentation doit contenir au moins 8 caractères.
                </div>
              </div>
            </div>
            <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">

                  <re-captcha [siteKey]="key" (resolved)="resolved($event)" ></re-captcha>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-4" [disabled]="!userForm1.valid">Create account</button>
              <!-- notifier declare -->
              <notifier-container></notifier-container>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

