<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>  

      <div *ngIf="sh">
          <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>Your sheet details mr : {{sh.student.nom}}  {{sh.student.prenom}}  </mat-card-title>
                <mat-card-subtitle>Content sheet</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                Title : <p> {{sh.title}} </p>
                Description :<p> {{sh.description}}</p>
                Issue  :<p> {{sh.issue}}</p>
                Features :<p> {{sh.features}}</p>
                Categorys :
                <div *ngFor="let c of toArrays(sh.categorys)">
                 {{ c.name_Category}}
                 </div>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button matTooltip="Your can only modify description and title" matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip" class="example-button" (click)="openDialog(sh.student.id)" >
                 Minor modification</button>
                <button  mat-raised-button matTooltip="You need your staff to accept or refuse your modification for issue and features" matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip" class="example-button" (click)="openDialogMajor(sh.student.id)">Major modification</button>
              </mat-card-actions>
            </mat-card> 
      </div>       
       
     
    
