<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="card bg-white shadow">

<p-chart type="pie" [data]="data"></p-chart>
  </div>
  <div class="card bg-white shadow">

    <p-chart type="doughnut" [data]="data2"></p-chart>
  </div>
  <div class="card bg-white shadow">

    <p-chart type="pie" [data]="data3"></p-chart>
  </div>
</div>
