<br><br>
<div class="container-fluid mt--7">
  <!-- Table -->

  <!-- Dark table -->
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0"></h3>
        </div>
        <div>
          <form>
            <!--<select>
              <option *ngFor="let s of School " value="{{s}}">{{s.schoolname}}</option>
            </select>-->

            <div *ngFor=" let s of Options">
              <input type="radio" value="{{s}}" name="schoolname">Option :{{s.name}}
              <button type="submit" class="btn btn-primary mt-4" (click)="affecter( s,data.anyProperty )">affect to this Option</button>
            </div>


          </form>
        </div>
      </div>
    </div>

  </div></div>

