<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<h3 class="text-blue mb-0">Adding a School</h3>
<form role="form">
  <div class="form-group">
    <div class="input-group input-group-alternative mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Schoolname<i class="ni ni-hat-3"></i></span>
      </div>
      <input class="form-control" placeholder="Sitename" type="text" [(ngModel)]="Sitte.sitename" name="schoolname">

    </div>

  </div>
  <div class="form-group">
    <div class="input-group input-group-alternative mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Code Postal<i class="ni ni-hat-3"></i></span>
      </div>
      <input class="form-control" placeholder="CodePostal" type="number" [(ngModel)]="Sitte.codePostal" name="codePostal">
    </div>

  </div>
  <div class="form-group">
    <div class="input-group input-group-alternative mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Adresse<i class="ni ni-hat-3"></i></span>
      </div>

      <input class="form-control" placeholder="Adresse" type="text" [(ngModel)]="Sitte.adresse" name="adresse">
    </div>

  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary mt-4" (click)="AddSite(Sitte)">Create School</button>
    <!-- notifier declare -->
    <notifier-container></notifier-container>
  </div>

</form>
